.footer {
    background-color: #c4ebd4;
    display: flex;
    position: fixed;
    flex-direction: row;
    border-radius: 5px;
    bottom: 0; 
    left: 0; 
    width: 100%; 
    background-color: #b8f1b5;
}

.copyright {
    flex-grow: 1; 
    text-align: center; 
}